{
    "CN": "{{k8s_ca_kubectl_cert_cn}}",
    "key": {
        "algo": "{{k8s_ca_kubectl_cert_key_algo}}",
        "size": {{k8s_ca_kubectl_cert_key_size}}
    },
    "names": [{
        "C": "{{k8s_ca_kubectl_cert_names_c}}",
        "L": "{{k8s_ca_kubectl_cert_names_l}}",
        "O": "{{k8s_ca_kubectl_cert_names_o}}",
        "OU": "{{k8s_ca_kubectl_cert_names_ou}}",
        "ST": "{{k8s_ca_kubectl_cert_names_st}}"
    }]
}