{
    "CN": "{{etcd_ca_cert_csr_cn}}",
    "key": {
        "algo": "{{etcd_ca_cert_csr_key_algo}}",
        "size": {{etcd_ca_cert_csr_key_size}}
    },
    "names": [{
        "O": "{{etcd_ca_cert_csr_names_o}}",
        "OU": "{{etcd_ca_cert_csr_names_ou}}",
        "L": "{{etcd_ca_cert_csr_names_l}}",
        "ST": "{{etcd_ca_cert_csr_names_st}}",
        "C": "{{etcd_ca_cert_csr_names_c}}"
    }]
}