{
    "CN": "system:node:{{ var_worker_hostname }}",
    "key": {
        "algo": "{{k8s_ca_kubelet_cert_csr_key_algo}}",
        "size": {{k8s_ca_kubelet_cert_csr_key_size}}
    },
    "names": [{
        "O": "{{k8s_ca_kubelet_cert_csr_names_o}}",
        "OU": "{{k8s_ca_kubelet_cert_csr_names_ou}}",
        "L": "{{k8s_ca_kubelet_cert_csr_names_l}}",
        "ST": "{{k8s_ca_kubelet_cert_csr_names_st}}",
        "C": "{{k8s_ca_kubelet_cert_csr_names_c}}"
    }]
}