{
    "CN": "{{etcd_ca_cert_cn}}",
    "key": {
        "algo": "{{etcd_ca_cert_key_algo}}",
        "size": {{etcd_ca_cert_key_size}}
    },
    "names": [{
        "C": "{{etcd_ca_cert_names_c}}",
        "L": "{{etcd_ca_cert_names_l}}",
        "O": "{{etcd_ca_cert_names_o}}",
        "OU": "{{etcd_ca_cert_names_ou}}",
        "ST": "{{etcd_ca_cert_names_st}}"
    }]
}