[Desktop Entry]
Exec=kubernetic
TryExec=kubernetic
Name=Kubernetic
Icon={{ kubernetic_source_directory }}/kubernetic.ico
Comment=Kubernetic, The Kubernetes Desktop Client.
Categories=Qt;Network;Utility;Development;DevOps;
Type=Application